/* Define primary and secondary colors */
    :root {
        --primary-25-colour: #F7F3FA;
        --primary-50-colour: #E8DCF3;
        --primary-100-color: #A67AD1;
        --primary-300-colour: #7339AC;
        --primary-500-colour: #5A189A;
        --primary-700-colour: #360E5C;
        --primary-900-colour: #1B072E;
        --secondary-25-colour: #F3FCFB;
        --secondary-50-colour: #CBE9E5;
        --secondary-100-color: #A3D6D0;
        --secondary-300-colour: #2A9D8F;
        --secondary-500-colour: #195E56;
        --secondary-700-colour: #10453F;
        --secondary-900-colour: #081F1D;
        --white-colour: #FFFFFF;
        --black-colour: #000000;
        --grey-100-colour: #969696;
        
        --font-primary: 'Commissioner', sans-serif;
        --font-secondary: 'Agdasima', sans-serif;
    }

    /* Reset default margin and padding */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: var(--font-primary);
    }

    /* Top navigation styling */
    .nav-container {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 40px;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        top: 0;
        background-color: var(--white-colour);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 100;
    }

    .logo {
        font-weight: 600;
        font-size: 24px;
        color: var(--primary-500-colour);
    }

    .nav-links {
        display: flex;
        list-style: none;
    }

    .nav-links li {
        margin: 0 15px;
    }

    .nav-links a {
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        color: var(--primary-900-colour);
        transition: color 0.3s;
    }

    .nav-links a:hover {
        color: var(--primary-300-colour);
    }

    .nav-links a.active {
        color: var(--primary-100-color);
        font-weight: 600;
    }

    /* Mobile menu button */
    .menu-icon {
        display: none;
        background-color: var(--secondary-25-colour);
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
    }

    .menu-icon span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: var(--secondary-300-colour);
        margin: 4px 0;
    }

    /* Responsive styles */
    @media screen and (max-width: 768px) {
        .nav-links {
            display: none;
            position: absolute;
            top: 75px;
            right: 40px;
            background-color: var(--white-colour);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            width: 200px;
            flex-direction: column;
            padding: 10px;
        }

        .nav-links li {
            margin: 10px 0;
        }

        .menu-icon {
            display: block;
        }

        .nav-links.active {
            display: flex;
        }
        .nav-container {
        padding: 8px 40px;
    }
    }

    /* Hero Section */
    .hero-section {
        padding: 100px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('image/Background.png');
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }

    .hero-container {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
    }

    .hero-content {
        display: flex;
        align-items: center;
        gap: 64px;
        justify-content: space-between;
    }

    .profile-pic-container {
        flex-shrink: 0;
    }

    .profile-pic {
        width: 400px;
        height: 100%;
    }

    .hero-text {
        text-align: left;
    }

    .hero-title {
        font-family: var(--font-secondary);
        font-size: 40px;
        color: var(--primary-500-colour);
        margin-bottom: 24px;
    }

    .hero-subtitle {
        font-family: var(--font-primary);
        font-size: 20px;
        color: var(--secondary-900-colour);
        margin-bottom: 48px;
    }

    .hero-buttons {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
    }

    .btn {
        padding-top: 10px;
        padding-bottom: 12px;
        padding-left:20px;
        padding-right:20px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        align-content: center;
        font-family: var(--font-primary);
        font-weight: 500;
        font-size: 16px;
        transition: all 0.3s ease;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .btn-primary {
        background-color: var(--primary-500-colour);
        color: var(--white-colour);
    }

    .btn-primary:hover {
        background-color: var(--primary-700-colour);
    }

    .btn-primary:active {
        transform: scale(0.95);
    }

    .btn-secondary {
        background-color: var(--secondary-25-colour);
        color: var(--secondary-300-colour);
        border: 1px solid var(--secondary-300-colour);
    }

    .btn-secondary:hover {
        background-color: var(--secondary-50-colour);
    }

    .btn-secondary:active {
        transform: scale(0.95);
    }

    /* Responsive hero section */
    @media screen and (max-width: 768px) {
        .hero-section {
            flex-direction: column;
            align-items: flex-start;
            padding: 40px 40px;
        }

        .hero-content {
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
        }

        .hero-subtitle {
        font-size: 18px;
        margin-bottom: 24px;
    }
        
        .hero-title {
        font-size: 30px;
        margin-bottom: 8px;
        }

        .profile-pic {
            margin-bottom: 16px;
            width: 300px;
            height: 100%;
        }

        .hero-buttons {
            justify-content: flex-start;
        }
    }   


 /* About Section Styles */
    .about-section {
        padding: 76px 40px;
        background-color: var(--primary-25-colour);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-container {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
    }

    .about-content {
        text-align: center;
    }

    .about-image-container {
        margin-bottom: 24px;
    }

    .about-image {
        width: 200px;
        border-radius: 50%;
    }

    .about-title {
        font-family: var(--font-secondary);
        font-size: 30px;
        color: var(--secondary-300-colour);
        margin-bottom: 24px;
    }

    .about-description {
        font-family: var(--font-primary);
        font-size: 18px;
        color: var(--primary-900-colour);
        margin-bottom: 24px;
        line-height: 1.6;
    }

    .fade-in-scroll {
        opacity: 0;
        transition: opacity 1.5s ease-in-out;
    }

/* Work Section Styles */
    .work-section {
        padding: 100px 40px;
        background-color: var(--white-colour);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .work-container {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .work-title {
        font-family: var(--font-secondary);
        font-size: 36px;
        color: var(--primary-500-colour);
        margin-bottom: 16px;
    }

    .work-description {
        font-family: var(--font-primary);
        font-size: 18px;
        color: var(--secondary-900-colour);
        margin-bottom: 48px;
        line-height: 1.6;
    }

    .work-cards {
        display: grid;
        align: centre;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 40px;
    }

    .work-card {
        background-color: var(--white-colour);
        border-radius: 16px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        max-width: 400px;
        text-decoration: none;
        transition: transform 0.3s ease;
    }

    .work-card:hover {
        transform: translateY(-10px);
    }

    .work-card:active {
        transform: scale(0.95);
    }

    .card-image {
        height: 200px;
        border-radius: 8px;
        margin: 16px;
        background-color: var(--secondary-50-colour);
    }

    .card-content {
        padding: 16px;
        text-align: left;
    }

    .card-title {
        font-family: var(--font-primary);
        font-size: 18px;
        color: var(--primary-700-colour);
        margin-bottom: 8px;
    }

    .card-subtitle {
        font-family: var(--font-primary);
        font-size: 16px;
        color: var(--grey-100-colour);
    }

    .fade-in-scroll.visible {
        opacity: 1;
    }

/* Contact Section Styles */
    .contact-section {
        padding: 100px 40px;
        background-color: var(--secondary-25-colour);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-container {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
    }

    .contact-content {
        text-align: center;
    }

    .contact-image-container {
        margin-bottom: 24px;
    }

    .contact-image {
        width: 100px;
        height: auto;
    }

    .contact-title {
        font-family: var(--font-secondary);
        font-size: 30px;
        color: var(--secondary-300-colour);
        margin-bottom: 16px;
    }

    .contact-subtitle {
        font-family: var(--font-primary);
        font-size: 24px;
        font-weight: 600px;
        color: var(--primary-500-colour);
        margin-bottom: 8px;
    }

    .contact-description {
        font-family: var(--font-primary);
        font-size: 18px;
        color: var(--primary-900-colour);
        margin-bottom: 48px;
    }

/* Footer Section Styles */
.footer-section {
    padding: 40px;
    background-color: var(--white-colour);
    border-top: 1px solid var(--primary-50-colour);
    text-align: center;
}

.footer-container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.footer-logo {
    font-family: var(--font-secondary);
    font-size: 24px;
    color: var(--primary-500-colour);
    margin-bottom: 16px;
}

.footer-description {
    font-family: var(--font-primary);
    font-size: 18px;
    color: var(--primary-900-colour);
    margin-bottom: 24px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.social-icon {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

/* Individual Social Media Icons */
.linkedin {
    background-image: url('image/linkedin.png');
}

.behance {
    background-image: url('image/behance.png');
}

.pinterest {
    background-image: url('image/pinterest.png');
}

.youtube {
    background-image: url('image/youtube.png');
}

.instagram {
    background-image: url('image/instagram.png');
}

.footer-credits {
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--primary-900-colour);
}

.footer-credits a {
    color: var(--primary-500-colour);
    text-decoration: none;
}

.footer-credits a:hover {
    text-decoration: underline;
}

